<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-4.3.xsd"
	default-autowire="byName">

	<!-- 读取属性文件,并将它们设置为这个类的属性中 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:application.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- C3P0 数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${datasource.driverClassName}" />
		<property name="jdbcUrl" value="${datasource.url}" />
		<property name="user" value="${datasource.username}" />
		<property name="password" value="${datasource.password}" />
		<!-- 获取数据库连接超时时间设置为5s -->
        <property name="checkoutTimeout" value="5000"></property>
	</bean>

	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />  
	    <property name="mapperLocations" value="classpath*:com/zplusi/lightProject/bean/**/*.xml"></property>
	    <!-- myBatis优化配置，暂时不开启 -->
	    <!-- <property name="configLocation" value="classpath:myBatis-config.xml"></property> -->
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zplusi.lightProject.dao.administrator"></property>
		<property name="sqlSessionFactoryBeanName" value="sessionFactory"></property>
	</bean>
</beans>